<html>
  <head>
    <meta charset="UTF-8" />
    <title>Task Completed Notification</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p>
      You have been removed as an assignee in the task
      <strong>{{taskName}}</strong>
      by
      {{remover}}.</p>

    <p>Thank you for your attention!</p>
  </body>
</html>